<div class="flex gap-4 mb-4 md:mb-0">
    <a class="w-6 h-6 fle items-center" href="{{ settings.linkedin }}">{%  render 'icon'  with 'linkedin'%}</a>
    <a class="w-6 h-6 flex items-center" href="{{ settings.facebook }}">{%  render 'icon'  with 'facebook'%}</a>
    <a class="w-6 h-6 flex items-center" href="{{ settings.instagram }}">{%  render 'icon'  with 'instagram'%}</a>
</div>