<div class="{% if section.settings.show_border_top %} border-t border-[--border-color] {% endif %} section-id-{{ section.id }} py-[--section-top_bottom_padding]">
    <div class="container gap-4 mx-auto px-4" >

    </div>
</div>
{%  schema  %}  
    {
        "name" :"Featured Product",
        "class" :"section-featured-product",
        "settings": [
            
        ]
}
{%  endschema  %}  